parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with array<string, string> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Config.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Model.php

		-
			message: '#^Expression "\$this\-\>\{\$association_name\}" on a separate line does not do anything\.$#'
			identifier: expr.resultUnused
			count: 1
			path: lib/Model.php

		-
			message: '#^Access to an undefined property ActiveRecord\\AbstractRelationship\:\:\$primary_key\.$#'
			identifier: property.notFound
			count: 3
			path: lib/Relationship.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: lib/SQLBuilder.php

		-
			message: '#^Call to function is_null\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: lib/Validations.php
