parameters:
	ignoreErrors:
		-
			message: '#^Unsafe call to private method ActiveRecord\\Cache\:\:get_namespace\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: lib/Cache.php

		-
			message: '#^Parameter \#1 \$object of function get_class expects object, string given\.$#'
			identifier: argument.type
			count: 1
			path: lib/CallBack.php

		-
			message: '#^Property ActiveRecord\\CallBack\:\:\$publicMethods \(array\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: lib/CallBack.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Config.php

		-
			message: '#^Method ActiveRecord\\Config\:\:get_connection\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Config.php

		-
			message: '#^PHPDoc tag @throws with type ActiveRecord\\ActiveRecord\\ConfigException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: lib/Config.php

		-
			message: '#^Property ActiveRecord\\Config\:\:\$date_format is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/Config.php

		-
			message: '#^Access to an undefined property ActiveRecord\\Connection\:\:\$conn\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Connection.php

		-
			message: '#^Call to an undefined method ActiveRecord\\Connection\:\:create_column\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Connection.php

		-
			message: '#^Call to method fetch\(\) on an unknown class ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 2
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$db on array\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$host on array\.$#'
			identifier: property.nonObject
			count: 3
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$pass on array\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$port on array\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$protocol on array\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/Connection.php

		-
			message: '#^Cannot access property \$user on array\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/Connection.php

		-
			message: '#^Method ActiveRecord\\Connection\:\:next_sequence_value\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Connection.php

		-
			message: '#^Method ActiveRecord\\Connection\:\:query_column_info\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Connection.php

		-
			message: '#^Method ActiveRecord\\Connection\:\:query_for_tables\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Connection.php

		-
			message: '#^Method ActiveRecord\\Connection\:\:string_to_datetime\(\) should return ActiveRecord\\DateTime but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Connection.php

		-
			message: '#^Unsafe call to private method ActiveRecord\\Connection\:\:load_adapter_class\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: lib/Connection.php

		-
			message: '#^Call to function is_array\(\) with ActiveRecord\\str will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: lib/Exceptions.php

		-
			message: '#^Parameter \$class_name of method ActiveRecord\\ReadOnlyException\:\:__construct\(\) has invalid type ActiveRecord\\str\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Exceptions.php

		-
			message: '#^Parameter \$method_name of method ActiveRecord\\ReadOnlyException\:\:__construct\(\) has invalid type ActiveRecord\\str\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Exceptions.php

		-
			message: '#^Parameter \$property_name of method ActiveRecord\\UndefinedPropertyException\:\:__construct\(\) has invalid type ActiveRecord\\str\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Exceptions.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: lib/Model.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array\<mixed, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Model.php

		-
			message: '#^Call to method is_poly\(\) on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Model.php

		-
			message: '#^Call to method load\(\) on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Model.php

		-
			message: '#^Expression "\$this\-\>\{\$association_name\}" on a separate line does not do anything\.$#'
			identifier: expr.resultUnused
			count: 1
			path: lib/Model.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 2
			path: lib/Model.php

		-
			message: '#^Left side of \|\| is always true\.$#'
			identifier: booleanOr.leftAlwaysTrue
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:__callStatic\(\) should return ActiveRecord\\Model but returns int\.$#'
			identifier: return.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:__clone\(\) with return type void returns \$this\(ActiveRecord\\Model\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:__set\(\) with return type void returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 4
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:count\(\) should return int but returns string\.$#'
			identifier: return.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:drop_connection\(\) with return type void returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:get_real_attribute_name\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:set_relationship_from_eager_load\(\) with return type void returns ActiveRecord\\Model but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:set_relationship_from_eager_load\(\) with return type void returns ActiveRecord\\Model\|null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:set_relationship_from_eager_load\(\) with return type void returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lib/Model.php

		-
			message: '#^Method ActiveRecord\\Model\:\:to_array\(\) should return array but returns string\.$#'
			identifier: return.type
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @param has invalid value \(boolean Set to true to return the first value in the pk array only\)\: Unexpected token "Set", expected variable at offset 62 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link ActiveRecordException\} if invalid query\)\: Unexpected token "\{", expected type at offset 1151 on line 37$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link ActiveRecordException\} if the array contained any invalid options\)\: Unexpected token "\{", expected type at offset 251 on line 7$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link RecordNotFound\} if a record could not be found\)\: Unexpected token "\{", expected type at offset 245 on line 8$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link RecordNotFound\} if no options are passed or finding by pk and no records matched\)\: Unexpected token "\{", expected type at offset 1888 on line 49$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link UndefinedPropertyException\} if \$name does not exist\)\: Unexpected token "\{", expected type at offset 1260 on line 46$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\{@link UndefinedPropertyException\} if name could not be resolved to an attribute, relationship, \.\.\.\)\: Unexpected token "\{", expected type at offset 347 on line 8$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws with type ActiveRecord\\ActiveRecord\\ReadOnlyException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: lib/Model.php

		-
			message: '#^PHPDoc tag @throws with type ActiveRecord\\ActiveRecord\\UndefinedPropertyException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: lib/Model.php

		-
			message: '#^Parameter \#1 \$attributes of method ActiveRecord\\Model\:\:get_values_for\(\) expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Parameter \#1 \$class_name of class ActiveRecord\\ReadOnlyException constructor expects ActiveRecord\\str, class\-string\<\$this\(ActiveRecord\\Model\)\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Parameter \#2 \$method_name of class ActiveRecord\\ReadOnlyException constructor expects ActiveRecord\\str, string given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Parameter \#2 \$property_name of class ActiveRecord\\UndefinedPropertyException constructor expects ActiveRecord\\str, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Model.php

		-
			message: '#^Property ActiveRecord\\Model\:\:\$__dirty \(array\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/Model.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 1
			path: lib/Model.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: lib/Model.php

		-
			message: '#^Access to an undefined property ActiveRecord\\AbstractRelationship\:\:\$primary_key\.$#'
			identifier: property.notFound
			count: 3
			path: lib/Relationship.php

		-
			message: '#^Access to an undefined property ActiveRecord\\BelongsTo\:\:\$primary_key\.$#'
			identifier: property.notFound
			count: 2
			path: lib/Relationship.php

		-
			message: '#^Access to an undefined property ActiveRecord\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: lib/Relationship.php

		-
			message: '#^Argument of an invalid type string supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Call to an undefined method ActiveRecord\\AbstractRelationship\:\:set_keys\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Call to method get_table\(\) on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 2
			path: lib/Relationship.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Instanceof between \$this\(ActiveRecord\\AbstractRelationship\) and ActiveRecord\\HasOne will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\AbstractRelationship\:\:\$foreign_key \(string\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\AbstractRelationship\:\:\$foreign_key \(string\) does not accept array\<int, mixed\>\.$#'
			identifier: assign.propertyType
			count: 2
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\AbstractRelationship\:\:\$foreign_key \(string\) does not accept default value of type array\.$#'
			identifier: property.defaultValue
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\BelongsTo\:\:\$primary_key_cache \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\HasMany\:\:\$has_one is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Property ActiveRecord\\HasMany\:\:\$initialized \(bool\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: lib/Relationship.php

		-
			message: '#^Method ActiveRecord\\SQLBuilder\:\:create_conditions_from_underscored_string\(\) has invalid return type ActiveRecord\\A\.$#'
			identifier: class.notFound
			count: 1
			path: lib/SQLBuilder.php

		-
			message: '#^Method ActiveRecord\\SQLBuilder\:\:create_conditions_from_underscored_string\(\) should return ActiveRecord\\A but returns list\.$#'
			identifier: return.type
			count: 1
			path: lib/SQLBuilder.php

		-
			message: '#^Method ActiveRecord\\SQLBuilder\:\:create_conditions_from_underscored_string\(\) should return ActiveRecord\\A but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/SQLBuilder.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: lib/SQLBuilder.php

		-
			message: '#^Method ActiveRecord\\ArraySerializer\:\:to_s\(\) should return string but returns array\.$#'
			identifier: return.type
			count: 1
			path: lib/Serialization.php

		-
			message: '#^Access to property \$attribute_name on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Access to property \$class_name on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 2
			path: lib/Table.php

		-
			message: '#^Call to method construct_inner_join_sql\(\) on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Call to method load_eagerly\(\) on an unknown class ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Method ActiveRecord\\Table\:\:get_relationship\(\) has invalid return type ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Method ActiveRecord\\Table\:\:get_relationship\(\) should return ActiveRecord\\Relationship but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Table.php

		-
			message: '#^Offset 0 does not exist on array\{\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Parameter \#1 \$datetime of method ActiveRecord\\Connection\:\:date_to_string\(\) expects ActiveRecord\\DateTime, DateTime given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Table.php

		-
			message: '#^Parameter \#1 \$datetime of method ActiveRecord\\Connection\:\:datetime_to_string\(\) expects ActiveRecord\\DateTime, DateTime given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Table.php

		-
			message: '#^Parameter \#1 \$relationship of method ActiveRecord\\Table\:\:add_relationship\(\) expects ActiveRecord\\Relationship, ActiveRecord\\BelongsTo\|ActiveRecord\\HasAndBelongsToMany\|ActiveRecord\\HasMany\|ActiveRecord\\HasOne given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Table.php

		-
			message: '#^Parameter \$relationship of method ActiveRecord\\Table\:\:add_relationship\(\) has invalid type ActiveRecord\\Relationship\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Table.php

		-
			message: '#^Property ActiveRecord\\Table\:\:\$conn \(ActiveRecord\\Connection\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/Table.php

		-
			message: '#^Variable \$delegates in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: lib/Table.php

		-
			message: '#^Function ActiveRecord\\all\(\) has invalid return type ActiveRecord\\unknown_type\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Utils.php

		-
			message: '#^Function ActiveRecord\\all\(\) should return ActiveRecord\\unknown_type but returns false\.$#'
			identifier: return.type
			count: 1
			path: lib/Utils.php

		-
			message: '#^Function ActiveRecord\\all\(\) should return ActiveRecord\\unknown_type but returns true\.$#'
			identifier: return.type
			count: 1
			path: lib/Utils.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$class$#'
			identifier: parameter.notFound
			count: 1
			path: lib/Utils.php

		-
			message: '#^Call to function is_null\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: lib/Validations.php

		-
			message: '#^Call to function is_numeric\(\) with float will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Validations.php

		-
			message: '#^Expression "array\(\$enum\)" on a separate line does not do anything\.$#'
			identifier: expr.resultUnused
			count: 1
			path: lib/Validations.php

		-
			message: '#^Method ActiveRecord\\Errors\:\:__get\(\) should return array but returns null\.$#'
			identifier: return.type
			count: 1
			path: lib/Validations.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: lib/Validations.php

		-
			message: '#^PHPDoc tag @return has invalid value \(string/array	Array of strings if several error occured on this attribute\.\)\: Unexpected token "/array", expected TOKEN_HORIZONTAL_WS at offset 167 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: lib/Validations.php

		-
			message: '#^Parameter \#1 \$closure of method ActiveRecord\\Errors\:\:to_array\(\) expects array\|null, Closure given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Validations.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, float given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Validations.php

		-
			message: '#^Variable \$enum might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: lib/Validations.php

		-
			message: '#^Variable \$range_option might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: lib/Validations.php

		-
			message: '#^Call to function is_null\(\) with int will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: lib/adapters/MysqlAdapter.php

		-
			message: '#^Method ActiveRecord\\MysqlAdapter\:\:query_column_info\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/MysqlAdapter.php

		-
			message: '#^Method ActiveRecord\\MysqlAdapter\:\:query_for_tables\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/MysqlAdapter.php

		-
			message: '#^Method ActiveRecord\\PgsqlAdapter\:\:query_column_info\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/PgsqlAdapter.php

		-
			message: '#^Method ActiveRecord\\PgsqlAdapter\:\:query_for_tables\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/PgsqlAdapter.php

		-
			message: '#^Property ActiveRecord\\Column\:\:\$length \(int\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/adapters/PgsqlAdapter.php

		-
			message: '#^Property ActiveRecord\\Column\:\:\$sequence \(bool\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/adapters/PgsqlAdapter.php

		-
			message: '#^Call to function is_null\(\) with int will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: lib/adapters/SqliteAdapter.php

		-
			message: '#^Cannot access property \$host on array\.$#'
			identifier: property.nonObject
			count: 3
			path: lib/adapters/SqliteAdapter.php

		-
			message: '#^Method ActiveRecord\\SqliteAdapter\:\:query_column_info\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/SqliteAdapter.php

		-
			message: '#^Method ActiveRecord\\SqliteAdapter\:\:query_for_tables\(\) has invalid return type ActiveRecord\\PDOStatement\.$#'
			identifier: class.notFound
			count: 1
			path: lib/adapters/SqliteAdapter.php

		-
			message: '#^Variable \$matches in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: lib/adapters/SqliteAdapter.php

		-
			message: '#^Instantiated class ActiveRecord\\CacheException not found\.$#'
			identifier: class.notFound
			count: 1
			path: lib/cache/Memcache.php

		-
			message: '#^Throwing object of an unknown class ActiveRecord\\CacheException\.$#'
			identifier: class.notFound
			count: 1
			path: lib/cache/Memcache.php
